body {
  margin: 0;
  margin-top: 150px;

  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}
/*Container
=========*/
.containe {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

/* Header
==========*/
.header {
  width: 100%;
  height: 125px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header__logo {
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7100ca;
  padding: 25px;
}
/* Nav
==========*/
.nav {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
}
.nav__link {
  scroll-behavior: auto;
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}
.nav__link:first-child {
  margin-left: 0;
}
.nav__link:hover {
  opacity: 1;
}
/* intro
==========*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  padding-top: 200px;
  align-items: center;

  background: #000 url("img/intro.JPG") center no-repeat;
  padding: 400px 0;
}
.persona__photo{
    text-align: center;
    margin-block-end: 20px;
}



.intro__inner {
  width: 100%;
  max-width: 800px;
  margin-top: -400px;
  text-align: center;
}
.intro_title {
  margin: 0 0 50px;
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  line-height: 1.1;
  color: #0000;
  font-weight: 700;
  text-transform: uppercase;
}
intro__subtitle {
  margin-bottom: 40px;
  font-size: 36px;
  color: #ffffff;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
/* Info
==========*/
.info {
  display: flex;
}
.info__items {
  width: 33.3%;
  padding: 0 20px;
  text-align: center;
}
.info__icon {
  margin-bottom: 5px;
}
.info__title {
  margin-bottom: 10px;
  font-size: 50px;
  color: #ffff;
  font-size: 700;
  text-transform: uppercase;
}
.container2{
  margin-top: 80px;
  width: 100%;
  height: 70px;
  font-size: 25px;
  color: #ffff;
  font-size: 700;
  text-transform: uppercase;
  text-align: center;
}
.info__title2 {
  margin-top: 80px;
  width: 100%;
  height: 70px;
  font-size: 50px;
  color: #ffff;
  font-size: 700;
  text-transform: uppercase;
  text-align: center;

}
.info__text {
  font-size: 20px;
  color: #ffff;
  font-size: 700;
  text-transform: uppercase;
}
.persona {
  width: 90%;
  margin: 0 auto 50px auto;
}
.persona__title {
  margin-top: 80px;
  width: 100%;
  height: 70px;
  font-size: 50px;
  color: #ffff;
  font-size: 700;
  text-transform: uppercase;
  text-align: center;
}
.persona__title2 {
  margin-top: 80px;
  width: 100%;
  height: 70px;
  font-size: 50px;
  color: #ffff;
  font-size: 700;
  text-transform: uppercase;
  text-align: center;
}
.persona__right {
  margin-top: -73px;
  margin-left: 440px;
  height: 70px;
  font-size: 50px;
  color: #7100ca;
  font-size: 700;
  text-align: center;
}
.persona__left {
  margin-top: -69px;
  margin-left: -220px;
  width: 100%;
  height: 70px;
  font-size: 50px;
  color: #7100ca;
  font-size: 700;
  text-align: center;
}
.persona__right1 {
  margin-top: -61px;
  margin-left: 450px;
  height: 70px;
  font-size: 50px;
  color: #7100ca;
  font-size: 700;
  text-align: center;
}
.persona__left1 {
  margin-top: -72px;
  margin-left: -225px;
  width: 100%;
  height: 70px;
  font-size: 50px;
  color: #7100ca;
  font-size: 700;
  text-align: center;
}
.persona__right2 {
  margin-top: -60px;
  margin-left: 500px;
  height: 70px;
  font-size: 50px;
  color: #7100ca;
  font-size: 700;
  text-align: center;
}
.persona__left2 {
  margin-top: -72px;
  margin-left: -255px;
  width: 100%;
  height: 70px;
  font-size: 50px;
  color: #7100ca;
  font-size: 700;
  text-align: center;
}
.persona__right3 {
  margin-top: -72px;
  margin-left: 460px;
  height: 70px;
  font-size: 50px;
  color: #7100ca;
  font-size: 700;
  text-align: center;
}
.persona__left3 {
  margin-top: -72px;
  margin-left: -228px;
  width: 100%;
  height: 70px;
  font-size: 50px;
  color: #7100ca;
  font-size: 700;
  text-align: center;
}
.perona__text {
  margin-bottom: 10px;
  font-size: 50px;
  color: #ffff;
  font-size: 700;
}
/* Inf */
.information {
  padding: 100px 0;
  background-color: #7100ca;
}
.footer_inner {
  display: flex;
  flex-wrap: wrap;
}
.footer__block {
  width: 50%;
  text-align: center;
}
.footer__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer__address {
  font-size: 14px;
  font-style: normal;
  color: #fff;
}
/* social */
.social {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social__item {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  margin-top: 10px;
  text-decoration: none;
}

.social__item img:hover {
  filter: invert();
}

/*

.social__icon .social__item:hover {
  background-color: crimson;
}

.social__item:hover .social__icon {
  fill: black;
}
*/

.social__icon {
  cursor: pointer;
  margin-right: 40px;
  display: block;
  height: 70px;
  width: 70px;
  fill: #0000;
  transition: fill 0.1s linear;
}
.sert{

     text-align: center;
     width: 100%;

}
.sert2 {
  color: #fff;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  font-size: 700;
  opacity: 0.75;
  transition: opacity 0.1s linear;
 }
.size-medium wp-image-5541 alignleft lazy-loaded {
    transition: all .35s ease;
    cursor: pointer;
}
.cards{
  margin-top: 80px;
  width: 100%;
  height: 70px;
  font-size: 25px;
  color: #ffff;
  font-size: 700;
  text-transform: uppercase;
  text-align: center;
}
.cards_var {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;

    margin: 0 auto;
}
.cards_vars {
    position: relative;
    margin: 50px 0 45px;
}
.cards_items {
    display: flex;
    margin-bottom: 20px;
justify-content: center;
}
.cards_item{
    display: flex;
    flex: 1 1;
    margin: 0 1rem;
    border-radius: 10px;
}
.cards_item_link{
       display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px hsl(277deg 100% 50% / 53%);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56,125,255,.017));
    filter: drop-shadow(0 6px 20px rgba(56,125,255,.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}
.cards__item__pic-wrap{
    position: relative;
    width: 77%;
    padding-top: 60%;
    overflow: hidden;
}
.cards__item__img{
position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all .2s linear;

}
.cards_item_info{
        padding: 10px 35px 20px;
}
.cards__item__text{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial",sans-serif;
}
.li{
    text-align: -webkit-match-parent;
}
.ul{
    list-style-type: disc;

}
.link{
    color: -webkit-link;
    cursor: pointer;
}
.figure {
    display: block;

}
.cards__item__pic-wrap:after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;

    padding: 6px 8px;
    max-width: calc(100% - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #7100ca;
    box-sizing: border-box;
    font-family: "Arial",sans-serif;
}



